<!DOCTYPE html>

<!-- 
320 and Up boilerplate extension
Author: Andy Clarke
Version: 0.9b
URL: http://stuffandnonsense.co.uk/projects/320andup 
-->

<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 7 ]><html class="no-js ie6" lang="en"><![endif]-->
<!--[if IE 7 ]><html class="no-js ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="no-js ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->

<head>
<meta charset="utf-8">
<title>{{ page.title }}</title>
<meta name="description" content="{{ page.description }}">
<meta name="author" content="{{ site.owner-name }}">

{% include boilerplate_css_scripts.html %}

<body class="clearfix">


<div id="links">
  <a href="/">Le blog</a>
  &nbsp;|&nbsp;
  <a href="/CV_Florian_Margaine.pdf">Le C.V.</a>
  &nbsp;|&nbsp;
  <a href="/social.html">Les réseaux sociaux</a>
  &nbsp;|&nbsp;
  <a href="mailto:&#102;&#108;&#111;&#114;&#105;&#97;&#110;&#64;&#109;&#97;&#114;&#103;&#97;&#105;&#110;&#101;&#46;&#99;&#111;&#109;">Me contacter</a>
</div>

<header role="banner" class="clearfix">
<h1>{{ page.title }}</h1>
</header>

<div class="content clearfix">

<article role="main">
{{ content }}
</article>

</div>

<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
  <a class="addthis_button_preferred_1"></a>
  <a class="addthis_button_preferred_2"></a>
  <a class="addthis_button_preferred_3"></a>
  <a class="addthis_button_preferred_4"></a>
  <a class="addthis_button_compact"></a>
  <a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4f2cfe880711d366"></script>
<!-- AddThis Button END -->

<footer role="contentinfo" class="clearfix license">
  <p>{{ site.license }}</p>
</footer>

<div id="toTop">^ Retour en haut</div>

{% include boilerplate_analytics_scripts.html %}

</body>
</html>
