---
layout: default
---
<header>
<h2>Les articles du blog<h2>
</header>
{% for ps in site.posts %}
<section>
<header class="post-header">
<hgroup>
<h3><a href="{{ ps.url }}">{{ ps.title }}</a></h3>
<span>Publié par <a href="https://plus.google.com/u/0/110581670051007625063?rel=author">Florian Margaine</a> le <time datetime="{{ ps.date }}" pubdate>{{ ps.date| date:"%d/%m/%Y" }}</time></span>
</hgroup>
</header>
</section>
{% endfor %}

<!-- Pagination links -->
<!--<div class="pagination">
  {% if paginator.previous_page %}
    <a href="/page{{paginator.previous_page}}" class="previous">Précédent</a>
  {% else %}
    <span class="previous">Précédent</span>
  {% endif %}
  <span class="page_number ">Page: {{paginator.page}} sur {{paginator.total_pages}}</span>
  {% if paginator.next_page %}
    <a href="/page{{paginator.next_page}}" class="next ">Suivant</a>
  {% else %}
    <span class="next ">Suivant</span>
  {% endif %}
</div>
-->

